{{ ansible_managed | comment }}
{% macro render_value(key, value) %}
{{ key }} = {{ value | string() }}
{% endmacro %}
{% macro render_option(auditd_key) %}
{%   set key = auditd_key[7:] %}
{# value can have legit value '0', so 'and value' is not possible #}
{%   if auditd_key in vars and vars[auditd_key] not in [none, ''] %}
{{ render_value(key, vars[auditd_key]) -}}
{%   endif %}
{% endmacro %}

{{ render_option('auditd_local_events') -}}
{{ render_option('auditd_write_logs') -}}
{{ render_option('auditd_log_file') -}}
{{ render_option('auditd_log_group') -}}
{{ render_option('auditd_log_format') -}}
{{ render_option('auditd_flush') -}}
{{ render_option('auditd_freq') -}}
{{ render_option('auditd_max_log_file') -}}
{{ render_option('auditd_num_logs') -}}
{{ render_option('auditd_priority_boost') -}}
{{ render_option('auditd_disp_qos') -}}
{{ render_option('auditd_dispatcher') -}}
{{ render_option('auditd_name_format') -}}
{{ render_option('auditd_name') -}}
{{ render_option('auditd_max_log_file_action') -}}
{{ render_option('auditd_space_left') -}}
{{ render_option('auditd_space_left_action') -}}
{{ render_option('auditd_verify_email') -}}
{{ render_option('auditd_action_mail_acct') -}}
{{ render_option('auditd_admin_space_left') -}}
{{ render_option('auditd_admin_space_left_action') -}}
{{ render_option('auditd_disk_full_action') -}}
{{ render_option('auditd_disk_error_action') -}}
{{ render_option('auditd_use_libwrap') -}}
{{ render_option('auditd_tcp_listen_port') -}}
{{ render_option('auditd_tcp_listen_queue') -}}
{{ render_option('auditd_tcp_max_per_addr') -}}
{{ render_option('auditd_tcp_client_ports') -}}
{{ render_option('auditd_tcp_client_max_idle') -}}
{{ render_option('auditd_transport') -}}
{{ render_option('auditd_enable_krb5') -}}
{{ render_option('auditd_krb5_principal') -}}
{{ render_option('auditd_krb5_key_file') -}}
{{ render_option('auditd_distribute_network') -}}
{{ render_option('auditd_q_depth') -}}
{{ render_option('auditd_overflow_action') -}}
{{ render_option('auditd_max_restarts') -}}
{{ render_option('auditd_plugin_dir') -}}
