{{ ansible_managed | comment }}
{% macro render_comparisons(rule) %}
{% if rule.comparisons is defined %}{% for comparison in rule.comparisons %} -C {{ comparison }}{% endfor %}{% endif -%}
{% endmacro %}
{% macro render_filters(rule) %}
{% if rule.filters is defined %}{% for filter in rule.filters %} -F {{ filter }}{% endfor %}{% endif -%}
{% endmacro %}
{% macro render_permissions(rule) %}
{% if rule.permissions is defined %} -p {% for permission in rule.permissions %}{{ _auditd_permissions[permission] }}{% endfor %}{% endif -%}
{% endmacro %}
{% macro render_keyname(rule) %}
{% if rule.keyname is defined %} -k {{ rule.keyname }}{% endif -%}
{% endmacro %}

## First rule - delete all
-D
{% if auditd_buffer_size is defined and auditd_buffer_size not in [none, ''] %}

## Increase the buffers to survive stress events.
## Make this bigger for busy systems
-b {{ auditd_buffer_size }}
{% endif %}
{% if auditd_fail_mode is defined and auditd_fail_mode not in [none, ''] %}

## Set failure mode to syslog
-f {{ auditd_fail_mode }}
{% endif %}
# Set the maximum amount of messages per second
-r {{ auditd_maximum_rate }}
# Set enable flag (0=disable, 1=enable, 2=locked, requires reboot to unlock)
-e {{ auditd_enable_flag }}

{% if auditd_rules is defined %}
{% for rule in auditd_rules %}
{% if rule.file is defined %}
-w {{ rule.file }}{{ render_comparisons(rule) }}{{ render_filters(rule) }}{{ render_permissions(rule) }}{{ render_keyname(rule) }}
{% elif rule.syscall is defined %}
-a {{ rule.action }},{{ rule.filter }} -F arch={{ rule.arch | default(auditd_default_arch) }} -S {{ rule.syscall }}{{ render_comparisons(rule) }}{{ render_filters(rule) }}{{ render_keyname(rule) }}
{% elif rule.action is defined and rule.file is not defined and rule.syscall is not defined %}
-a {{ rule.action }},{{ rule.filter }}{{ render_comparisons(rule) }}{{ render_filters(rule) }}{{ render_permissions(rule) }}{{ render_keyname(rule) }}
{% endif %}
{% endfor %}
{% endif %}
