---
#
# Ansible managed
#

name: Ansible Molecule

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: '1 1 1 * *'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: ansible-lint
        uses: ansible/ansible-lint@v25.9.2

  molecule:
    needs:
      - lint
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        distro:
          - image: "amazonlinux"
            tag: "latest"
          - image: "debian"
            tag: "bullseye"
          - image: "debian"
            tag: "bookworm"
          - image: "debian"
            tag: "latest"
          - image: "enterpriselinux"
            tag: "latest"
          - image: "fedora"
            tag: "latest"
          - image: "fedora"
            tag: "40"
          - image: "ubuntu"
            tag: "jammy"
          - image: "ubuntu"
            tag: "latest"
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          path: ansible-role-auditd

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Configure Docker for systemd
        run: |
          sudo mkdir -p /etc/docker
          echo '{
            "features": {
              "buildkit": true
            },
            "exec-opts": ["native.cgroupdriver=systemd"]
          }' | sudo tee /etc/docker/daemon.json
          sudo systemctl restart docker || true

      - name: Install Docker
        uses: docker/setup-buildx-action@v3

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip3 install ansible molecule molecule-plugins[docker] docker

      - name: Test with molecule
        run: |
          cd ansible-role-auditd
          molecule test
        env:
          PY_COLORS: 1
          ANSIBLE_FORCE_COLOR: 1
          ANSIBLE_ROLES_PATH: ~/.ansible/roles:${GITHUB_WORKSPACE}/ansible-role-auditd
          image: ${{ matrix.distro.image }}
          tag: ${{ matrix.distro.tag }}
